{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock page_title %}

{% block content %}
<div class="conteiner-fluid">
    <div class="row justify-content-center my-5">
        <div class="col">
            <form action="" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}

                <input class="btn btn-info mt-3" type="submit" value="Giriş Yap" name="Giriş Yap" id="">
            </form>
        </div>

    </div>
</div>

{% endblock content %}